.app {
  display: grid;
  grid-template-areas: 
    "hdr hdr hdr hdr hdr hdr hdr hdr"
    ". . tc tc tc tc . ."
    ". pb pb pb pb pb pb .";
}

.navbar {
  grid-area: hdr;
  display: grid;
  grid-template-columns: 1fr 5fr 5fr;
}

.topic-container{
  grid-area: tc;
}


.topic-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr)
}

.pin-board {
  grid-area: pb;
  display: grid;
  grid-template-columns: repeat(5, 1fr)
}